.container-doctor {
    display: flex;
  }
.sidebar{
    /* flex:1; */
    position: relative;
    top:0;
    right: 0;
    bottom: 0;
    width: 400px;
    /* background-color: aqua; */
    padding-top: 60px;
   
    /* //background:aqua; */
}