.form-ele{
    margin: 1%;
    padding: 1%;
    width: 75%;
}
.submit{
    background-color: rgb(19, 78, 78);
}
.reg-img{
    width: 20%;
    margin-top: 0;
    display: inline-block;
}
.card-container{
    margin: 20%;
    display: inline;
    height: 30%;
    width: 35%;
    padding: 0%;
}
.reg-card{
    margin-top:10%;
    display: inline-block;
    width: 35%;
    height:35%;
    align-self: center;
    border-color:  rgb(39, 155, 149);
    border-width: 2px;
    border-style: solid;
    text-align: center;
}
